 <!-- Navbar -->
 <div class="navbar">
    <button class="toggle-sidebar" onclick="toggleSidebar()">☰</button>
    <span class="navbar-brand">İş Takip Programı</span>
    <span class="navbar-institution">ARNAVUTKÖY BELEDİYESİ</span>
    <img src="/arnBelediye.png" alt="Logo" class="navbar-logo" />
    <button class="login-button" id="login-button" onclick="showLoginPage()">
        <i class="fas fa-user"></i> Giriş
    </button>
</div>