<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <ul>
        <li><a href="/login">Hesap İşlemleri</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Görevler</a></li>
        <li><a href="#">Kategoriler</a></li>
        <li><a href="#">Raporlar</a></li>
    </ul>
</div>