<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <style>
        /* Container için stil */
        .container {
            margin-top: 7%;
            margin-left: 16%;
            text-align: center;
        }

        .container-button {
            max-width: 700px;
            display: flex;
            justify-content: space-between;
        }

        .container-table {
            margin-top: 8%;
            max-width: 1000px;
            display: none;
        }

        /* Butonlar için stil */
        .container button {
            width: 30%;
            padding: 10px;
            margin: 10px 0;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
        }

        /* Hover sırasında buton rengi */
        .container button:hover {
            background-color: #45a049;
        }


        /* Tümü - Personel Container */
        .container-personel {
            margin-top: 8%;
            display: none;
        }

        .container-personel-form {
            width: 50%;
        }

        .container-personel-form div {
            display: flex;
            align-items: center;
        }

        .container-personel-form h3 {
            text-align: center;
        }

        .container-personel-form div label {
            display: block;
            margin-right: 10px;
            width: 15%;
            font-weight: bold;
            text-align: left;
        }

        .container-personel-form div input {
            display: flex;
            align-items: right;
            width: 85%;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 8px;
            font-size: 16px;
        }

        .container-personel-form div button {
            width: 15%;
            text-align: center;
        }

        .container-personel-form div:last-child {
            justify-content: flex-end;
            /* Butonu en sağa yasla */
        }

        /* Personel Summary */
        .personel-summary {
            align-content: center;
            text-align: left;
            width: 40%;
        }

        /* Personel Delete */
        .container-personel-delete {
            margin-top: 8%;
            display: none;
        }

        .container-personel-delete div {
            display: flex;
            padding-bottom: 10px;
            width: 50%;
        }

        .container-personel-delete label {
            width: 5%;
            margin-right: 10px;
            font-weight: bold;
            text-align: left;
        }

        .container-personel-delete input {
            width: 50%;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .container-personel-delete-search {
            width: 5%;
            display: flex;
            justify-content: flex-end;
            padding-right: 5%;
        }
    </style>

    <body>
        <%- include('partials/navbar') %> <!-- Navbar partial şablonu -->
            <%- include('partials/sidebar') %>

                <div class="container">
                    <div class="container-button">
                        <!-- Butonlar -->
                        <button onclick="showPersonnelList()">Personel Listesi</button>
                        <button onclick="addPersonnel()">Personel Ekle</button>
                        <button onclick="deletePersonnel()">Personel Sil</button>
                    </div>

                    <!-- PERSONEL LİSTESİ PARÇASI -->
                    <div class="container-table" id="personel-list">
                        <h3> Personel Listesi </h3>
                        <table class="table table-stripred table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>İsim</th>
                                    <th>Soyisim</th>
                                    <th>Telefon No</th>
                                    <th>Mail</th>
                                    <th>Departman</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <!-- PERSONEL EKLEME PARÇASI -->
                    <div class="container-personel" id="container-personel">
                        <!-- Personel Ekleme Formu -->
                        <form class="container-personel-form" id="container-personel-form"
                            onsubmit="submitPersonnel(event)">
                            <h3>Personel Ekle</h3>
                            <div>
                                <label for="name">İsim</label>
                                <input type="text" id="name" placeholder="İsim" required>
                            </div>
                            <div>
                                <label for="surname">Soyisim</label>
                                <input type="text" id="surname" placeholder="Soyisim" required>
                            </div>
                            <div>
                                <label for="phoneNumber">Telefon Numarası</label>
                                <input type="text" id="phoneNumber"
                                    placeholder="başında sıfır olmadan ve aralarında boşluk giriniz. Örnek: 545xxx "
                                    required>
                            </div>
                            <div>
                                <label for="mail">Mail</label>
                                <input type="email" id="mail" placeholder="Mail" required>
                            </div>
                            <div>
                                <label for="department">Departman</label>
                                <select id="department" name="department">
                                    <option value="İnsan Kaynakları">İnsan Kaynakları</option>
                                    <option value="Bilgi İşlem">Bilgi İşlem</option>
                                    <option value="Personel Birimi">Personel Birimi</option>
                                </select>
                                <!-- <input type="text" id="department" placeholder="Departman" required> -->
                            </div>
                            <div>
                                <label for="position">Pozisyon</label>
                                <input type="text" id="position" placeholder="Pozisyon" required>
                            </div>
                            <div>
                                <button type="submit">Ekle</button>
                            </div>
                        </form>

                        <div class="personel-summary">
                            <p class="p-personel-summary">

                            </p>
                        </div>
                    </div>

                    <div class="container-personel-delete" id="container-personel-delete">
                        <div>
                            <label for="name"> İsim: </label>
                            <input type="text" placeholder="isim">
                        </div>
                        <div>
                            <label for="surname">Soyisim: </label>
                            <input type="text" placeholder="soyisim">
                        </div>
                        <div class="container-personel-delete-search">
                            <button type="submit" onclick="searchPersonel(event)"> ARA </button>
                        </div>
                    </div>
                </div>


                <script>
                    const personelList = document.getElementById("personel-list")
                    const personelContainer = document.getElementById("container-personel")
                    const personelDeleteContainer = document.getElementById("container-personel-delete")

                    let showPersonnelList = async () => {
                        personelList.style.display = "block"
                        personelContainer.style.display = "none"
                        personelDeleteContainer.style.display = "none"

                        await fetch("/api/personel/getPersonelList").then(res => {
                            return res.json()
                        }).then((data) => {
                            const tableBody = document.querySelector("table tbody")
                            tableBody.innerHTML = ""

                            data.forEach((personel, index) => {
                                const row = document.createElement("tr")

                                row.innerHTML = `
                                    <td>${index + 1}</td>
                                    <td>${personel.name}</td>
                                    <td>${personel.surname}</td>
                                    <td>${personel.phoneNumber}</td>
                                    <td>${personel.mail}</td>
                                    <td>${personel.department.name}</td>
                                `
                                tableBody.appendChild(row)
                            });
                        })
                    }

                    function addPersonnel() {
                        personelContainer.style.display = "block"
                        personelList.style.display = "none"
                        personelDeleteContainer.style.display = "none"

                        personelContainer.style = "display: flex; justify-content: space-between;"
                    }

                    let submitPersonnel = async (event) => {
                        event.preventDefault()

                        const personelSummary = document.querySelector(".personel-summary")
                        personelSummary.innerHTML = ""

                        formData = {
                            name: document.getElementById("name").value,
                            surname: document.getElementById("surname").value,
                            phoneNumber: document.getElementById("phoneNumber").value,
                            mail: document.getElementById("mail").value,
                            department: document.getElementById("department").value,
                            position: document.getElementById("position").value
                        }

                        try {

                            const response = await fetch("/api/personel/addPersonel", {
                                method: "POST",
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(formData) // JSON formatında gönder
                            })

                            if (response.ok) {
                                res = await response.json()

                                const div = document.createElement("div")
                                div.classList = "alert alert-success"
                                div.role = "alert"
                                div.innerHTML = `
                                    ${res.name} + ${res.surname} kullanıcı için kayıt başarı ile oluşturulmuştur
                                `
                                personelSummary.appendChild(div)
                            }

                        } catch (error) {

                        }

                    }

                    let deletePersonnel = () => {
                        personelContainer.style.display = "none"
                        personelList.style.display = "none"
                        personelDeleteContainer.style = "display: flex; flex-direction: column; align-items: flex-start"
                    }

                    let searchPersonel = async (e) => {
                        e.preventDefault()

                        let inputs = personelDeleteContainer.querySelectorAll("input")
                        let inputValues = []
                        let name, surname;

                        inputs.forEach((input, index) => {
                            if (index == 0) name = input.value
                            if (index == 1) surname = input.value
                        })
                        const response = await fetch(`api/personel/selectPersonel?name=${name}&surname=${surname}`)
                        const data = await response.json()


                        const div = document.createElement("div")
                        const tbody = document.createElement("tbody")

                        data.forEach((personel, index) => {
                            const tr = document.createElement("tr");

                            const checkBox = document.createElement("td")
                            const tdName = document.createElement("td");
                            const tdSurname = document.createElement("td");
                            const tdPhoneNumber = document.createElement("td");
                            const tdDepartment = document.createElement("td");
                            const tdPosition = document.createElement("td");
                            checkBox.innerHTML = `<input type="checkbox" name="_id" value="${personel._id}">`
                            tdName.innerText = personel.name;
                            tdSurname.innerText = personel.surname;
                            tdPhoneNumber.innerText = personel.phoneNumber;
                            tdDepartment.innerText = personel.department; 
                            tdPosition.innerText = personel.position;

                            // Tüm td'leri tr'ye ekle
                            tr.append(checkBox, tdName, tdSurname, tdPhoneNumber, tdDepartment, tdPosition);
                            // tr'yi tbody'ye ekle
                            tbody.appendChild(tr);
                        })
                        div.innerHTML = `
                            <form id="personel-delete-form">
                                <table class="table table-stripred table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Seç</th>
                                            <th>İsim</th>
                                            <th>Soyisim</th>
                                            <th>Telefon No</th>
                                            <th>Departman</th>
                                            <th>Birim</th>
                                        </tr>
                                    </thead>
                                </table>
                            </form> 
                        `
                        const table = div.querySelector("table")
                        table.appendChild(tbody)
                        const form = div.querySelector("#personel-delete-form")
                        form.appendChild(table)
                        // Sil butonunu oluştur ve forma ekle
                        const deleteButton = document.createElement("button");
                        deleteButton.type = "button";
                        deleteButton.innerText = "Sil";

                        form.appendChild(deleteButton)
                        personelDeleteContainer.appendChild(div)

                        deleteButton.onclick = async () => {
                            // Seçili checkbox'ları bul
                            const selectedPersonnel = [...form.querySelectorAll('input[name="_id"]:checked')];

                            if (selectedPersonnel.length > 0) {
                                const idsToDelete = selectedPersonnel.map(checkbox => checkbox.value);

                                // API'ye seçili kişileri silmek için istekte bulun
                                await fetch("/api/personel/deletePersonel", {
                                    method: "POST",
                                    headers: { "Content-Type": "application/json" },
                                    body: JSON.stringify({ _id: idsToDelete })
                                })

                                // Başarılı bir silme işlemi sonrası UI'den silinen satırları kaldırın
                                selectedPersonnel.forEach(checkbox => {
                                    checkbox.closest('tr').remove();
                                });
                            } else {
                                alert('Lütfen silmek için en az bir personel seçin.');
                            }

                        }
                    }
                </script>

    </body>

</html>